<div class="container">
  <h1>Blocks on chain</h1>
  <p>Each card represents a block on the chain. Click on the block to see the transactions stored inside.</p>
</div>


<div class="container">

  <app-block-view
    *ngFor="let block of blocks"
    [block]="block"
    (click)="showTransactions(block)"
  ></app-block-view>
</div>

<br><br>

<div class="container">
  <h1>Transaction inside block</h1>
  <app-transactions-table
    [transactions]="selectedBlock.transactions">
  </app-transactions-table>
</div>
